*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(315deg, #0F1E3C, #1F4055);
  background: linear-gradient(135deg, #0F1E3C, #1F4055);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
}

#title-header {
	font-size: 30px;
	font-family: 'Great Vibes', Helvetica, sans-serif;
	color: #ffefef;
	background-color: black;
  border-style: none;
}

#title-header div {
	display: inline-block;
	padding: 10px 10px 10px 15px;
	margin-left: 0px;
}
#title-header div:hover {
	cursor: pointer;
}

.user-name-form {
	margin: 0 auto;
	margin-top: 20%;
	width: 300px;
}
.user-name-form input {
	background-color: rgba(0, 0, 0, 0.48);
	color: #B0B1B4;
	border-color: transparent;
}

.glyphicon-warning-sign {
	color: #f0ad4e;
}
.glyphicon-ok {
	color: #5cb85c;
}
.glyphicon-pencil {
	color: #F5F5F6;
}

.users-list {
	background-color: #080f19;
	display: inline-block;
	margin-top: 150px;
	margin-left: 60px;
	padding: 0;
	border-style: none;
}
.users-list .panel-heading {
	background-color: transparent;
	border-style: none;
	margin: 0;
}
.users-list .panel-body {
	border-style: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
}
.users-list .panel-body ul {
	margin : 0;
}
.users-list input {
	background-color: transparent;
  border-style: none;
}
.users-item, .no-users {
	background-color: #080f19;
	color: #f5f5f5;
	border-style: none;
	border-top: 1px solid black;
}
.no-users {
	text-align: center;
}
.users-item:first-child {
	border-style: none;
}
.users-item:hover {
	color: #66afe9;
	cursor: pointer;
}
.users-item .user-name {
	margin-left: 10px;
}

.letter-icon {
	text-transform: uppercase;
	border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 4px;
  border: 1px solid rgba(0,0,0,.5);
  color: #f5f5f5;
  text-align: center;
  font: 9px Arial, sans-serif;
}