<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link type="text/css" rel="stylesheet" href="/css/style.css" />
      <link type="text/css" rel="stylesheet" href="/css/chat.css" />
      <link type='text/css' rel='stylesheet' href='/misc/css/bootstrap.min.css' />
      <link type='text/css' rel='stylesheet' href='/misc/css/normalize.min.css' />
      <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
      <script type='text/javascript' src='/misc/js/jquery-1.12.2.min.js'></script>
		<title>Tchiky Chat</title>
	</head>
	<body>
		<div id='react'><div><%-html%></div></div>
		
		<script src='/socket.io/socket.io.js'></script>
		<script type='text/javascript' src='bundle.js'></script>
	</body>
</html>

	